#root {
	position: relative;
}
.calendar {
	max-width: 600px;
}
.month-year{
	background-color: #18bc9b;
	display:flex;
	justify-content: space-between;
	height:90px;
}

.month-year-label{
	padding: 20px;
}

.days > .week-row > span:hover:not(.disabled) {
    background-color: #18bc9b;
}

.weekNames{
	background-color: #ddd;
}

.days{
	background-color: #eee;
	border: 1px solid #CACACA;
}

.week-row {
	display:flex;

}
.week-row > span {
	flex-grow: 1;
   	flex-basis: 80px;
   	padding:4px 10px;
}

.weekNames.week-row > span {
	border-top: 1px solid #CACACA;
}

.left-handler, .right-handler{
	width: 10%;
	max-width:30px;
	height: 100%;
	display:flex;
	align-items:center;
	justify-content:center;
}

.left-handler:hover, .right-handler:hover{
	background-color: #15ab8d;
	color:white;
}

.right-handler{
	
}

.new-event {
	position: absolute;
	max-width: 200px;
	display: inline-block;
	background: #555454;
	padding: 5px;
	box-sizing: content-box;

}

.new-event > .input-row {
	display: flex;
	justify-content: space-around;
}

.new-event > .input-row > input {
	max-width: 100px;
}

#eventName {
	max-width: 200px;
	width: 200px;
}